.comment-section input[type=submit]
{
    display: block;
}
.col-8
{
    float: left;
    width: 57%;
    padding: 3%;
    box-sizing: border-box;
    border-right: 2px solid #004d66;
}
.col-4
{
    float: right;
    width: 37%;
    padding: 3%;
}